<div class="register pb-5">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Customer Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Customer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Customer Setting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Customer Register Import</a>
    </li>
  </ul>
  <div class="input-visitor mx-3 mt-3">
    <div class="row">
      <h3><label for="exampleFormControlInput1" class="form-label">Customer Biodata</label></h3>
      <div class="mb-3 col-md-6">
        <select class="form-select mb-4" aria-label="Default select example">
          <option selected>Salesman ID</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <input type="text" class="form-control mb-4" id="exampleFormControlInput1" placeholder="Customer Name">
        <input type="text" class="form-control mb-4" id="exampleFormControlInput1" placeholder="PIC">
        <input type="text" class="form-control mb-4" id="exampleFormControlInput1" placeholder="City">
        <input type="text" class="form-control mb-4" id="exampleFormControlInput1" placeholder="Remark">
        <input type="number" class="form-control mb-4" id="exampleFormControlInput1" placeholder="NPWP">
        <input type="text" class="form-control mb-4" id="exampleFormControlInput1" placeholder="Customer Price Category">
      </div>
      <div class="mb-3 col-md-6">
        <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Address"></textarea>
        <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Address ke 2"></textarea>
        <input type="number" class="form-control mb-3" id="exampleFormControlInput2" placeholder="Contact No">
        <input type="text" class="form-control mb-3" id="exampleFormControlInput2" placeholder="Region">
        <input type="text" class="form-control mb-3" id="exampleFormControlInput2" placeholder="Province">
        <label for="exampleFormControlInput1" class="form-label2">Kuota</label>
        <input type="number" class="form-control mb-3" id="exampleFormControlInput2" placeholder="0">
        <input type="text" class="form-control mb-3" id="exampleFormControlInput2" placeholder="Prefered Expedition">
      </div>
    </div>
    <a href="#">
      <button><i class="fas fa-plus"></i></button>
    </a>
  </div>
</div>
