<div class="body-color pb-5">
  <div class="container mt-0 pt-3">
    <div class="visitor-list">
      <div class="row">
        <div class="icon col-md-4">
          <div class="background-icon">
            <i class="fas fa-list-ul m-3"></i>
          </div>
        </div>
        <div class="nav-menu col-md-8 mt-3">
          <div class="row">
            <p class="date-time col-md-5">Mon, 28 Dec 2020 09:51PM</p>
            <div class="menu-icon col-md-2">
              <i class="fas fa-bug ms-4" style="font-size:18px"></i>
              <i class="fas fa-question-circle ms-4" style="font-size:18px"></i>

            </div>
            <div class="user col-md-5">
              <i class="fas fa-user" style="font-size:18px"><p class="user ms-3">Admin CV. MACAN KEMBAR</p></i>

            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="side-left col-md-3">
        <div class="side-background">
          <div class="mb-3 mt-3 pb-5 ms-3 me-3">
            <h3><label for="exampleFormControlInput1" class="form-label mt-3">Search</label></h3>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Created Time Mode
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
              <label class="form-check-label" for="flexCheckChecked">
                Transaction Time Mode
              </label>
            </div>
            <input type="email" class="form-control mb-4" id="exampleFormControlInput1" placeholder="Voucher ID">
            <input type="email" class="form-control mb-4" id="exampleFormControlInput1" placeholder="Remark">
            <button><i class="fa fa-search"> Search</i></button>
          </div>



        </div>

      </div>

      <div class="side-right col-md-9 mt-3">
        <button class="download mt-3 ms-2"><i class='fas fa-cloud-download-alt'></i></button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Created<br>Time</th>
              <th scope="col">Site</th>
              <th scope="col">Order</th>
              <th scope="col">Product ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Gudang</td>
              <td></td>
              <td>PRODUK-PL0071-S-ABU TUA</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td>SWEATER OBLONG JEMPER NASA UNISEX matt COTTON fleece Premium TERMURAH TERLARIS</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <p class="me-3 mt-3">Items per page</p>
          <select class="form-select me-3" aria-label="Default select example">
            <option selected>10</option>
            <option value="1">20</option>
            <option value="2">30</option>
            <option value="3">40</option>
          </select>
          <p class="me-3 mt-3">1-10 of 8905</p>
          <div class="arrow-icon ms-2 mt-3">
            <i class='fas fa-angle-double-left ms-1 me-1'></i>
            <i class='fas fa-angle-left ms-1 me-1'></i>
            <i class='fas fa-angle-right ms-1 me-1'></i>
            <i class='fas fa-angle-double-right ms-1 me-1'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
