.body-color {
  background: #d0cfcf;
}
.side-background, .side-right.col-md-9.mt-3 {
  background: white;
  border-radius: 10px;
}
.user.col-md-5 {
  display: flex;
}
.nav-menu.col-md-8 {
  text-align: right;
}
p.user {
  display: inline-flex;
  font-weight: 500;
}
.background-icon {
  background: white;
  width: 49px;
  border-radius: 25px;
}
button i.fas.fa-list-ul {
  font-size: 18px;
}

button {
  background: #dd5f34;
  font-size: 15px;
  float: right;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 3px black;
}
button.download {
  float: left;
}

tr:nth-child(even) {
  background-color: var(--bs-table-striped-bg);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: white;
}
th {
  font-size: 10px;
}
select.form-select {
  width: 15%;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  padding: 0;
}

.pagination {
  float: right;
  width: 50%;
}

